# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Model / pickles (jeśli nie chcesz trzymać w repo)
*.h*
